body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:400px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2620 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:400px;
}
#u2621 {
  position:absolute;
  left:2px;
  top:192px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u2622 {
  position:absolute;
  left:303px;
  top:17px;
  width:97px;
  height:33px;
  font-size:28px;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2624 {
  position:absolute;
  left:100px;
  top:75px;
  width:200px;
  height:25px;
}
#u2624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2625 {
  position:absolute;
  left:400px;
  top:75px;
  width:200px;
  height:25px;
}
#u2625_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2626 {
  position:absolute;
  left:322px;
  top:78px;
  width:78px;
  height:22px;
  font-size:18px;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2628 {
  position:absolute;
  left:64px;
  top:78px;
  width:36px;
  height:22px;
  font-size:18px;
}
#u2629 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2630 {
  position:absolute;
  left:206px;
  top:128px;
  width:394px;
  height:22px;
}
#u2630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2630_input:disabled {
  color:grayText;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2631 {
  position:absolute;
  left:64px;
  top:128px;
  width:132px;
  height:22px;
  font-size:18px;
}
#u2632 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u2633 {
  position:absolute;
  left:400px;
  top:250px;
  width:200px;
  height:25px;
}
#u2633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2634 {
  position:absolute;
  left:100px;
  top:250px;
  width:200px;
  height:25px;
}
#u2634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  position:absolute;
  left:470px;
  top:234px;
  width:61px;
  height:16px;
}
#u2636 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2637 {
  position:absolute;
  left:185px;
  top:234px;
  width:31px;
  height:16px;
}
#u2638 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u2639 {
  position:absolute;
  left:400px;
  top:342px;
  width:200px;
  height:40px;
}
#u2640 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2641 {
  position:absolute;
  left:100px;
  top:342px;
  width:200px;
  height:40px;
}
#u2642 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
